*{
    margin:0px;
    padding:0px;
}
.main{
    
    background-color:aquamarine;
    height: 100vh;
}
.form{
    background-color: aqua;
    display: flex;
    width:550px;
    height: 550px;
    justify-content: center;
    align-items: center;
    position: relative;
    top:50px;
    left: 450px;
}
.form-container{
    position: relative;
    right: 50px;
    top:50px;
    display: flex;
    flex-direction: column;
    width:450px;
    height: 450px;
}
.firstname-label{
    font-size:25px;
}
.firstname-input{
    width:200px;
    height:20px;
}


.lastname-label{
    font-size:25px;
}
.lastname-input{
    width:200px;
    height:20px;
}

.email-label{
    font-size:25px;
}
.email-input{
    width:200px;
    height:20px;
}

.passw-label{
    font-size:25px;
}
.passw-input{
    width:200px;
    height:20px;
}

.heading{
    
    position: relative;
    bottom: 250px;
    left: 180px;
    color: tomato;
}
.submit-btn{
    width:80px;
    height: 40px;
    margin-top:30px;
    margin-left:130px;

}
.display-error{
    display: none;
}
.error{
    color: red;
}
.hide{
    margin-left: 345px;
}
