.option{
    display: grid;
    
    

}
.image{
    height: 250px;
    width:400px;
}

.Successful{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}
.submit{
    font-size: 30px;
    
    color: blue;
    width: 180px;
}
.Successful img{
    width: 250px;
    height: 250px;
}

.heading{
    position: relative;
    left:500px;
    color:blueviolet;

}
body{
    background-color: wheat;
}
.Question{
    font-size: 25px;
    color: rgb(134, 24, 161);    
}
button{
    width:75px;
}
.label{
    background-color: aquamarine;
    width:200px;
}
.image4{
    width: 300px;
}
.image5{
    width: 400px;
}
.image6{
    width: 300px;
}
.successful-btn{
    margin-left: 500px;
    width: 100px;
}